#main{
    width: 50%;
}

#side{
    width: 40%;
}

#side img{
    height: auto;
    width: 100%;
}

.danger{
    background:#651b1b69;
    color:#220f0f;
}
.success{
    background:#1b654669;
    color:#0c420c;
}


a.Btn{
    background:#1B4965;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    margin-top: 30px;
    padding: 10px 15px;
    text-decoration: none;
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

a{
    color:#1B4965;
}

body{
    color: #1B4965;
    display: flex;
    flex-direction: row;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    justify-content: space-between;
    margin: 50px 100px 0 100px;
}

h1{
    font-size: 100px; 
    font-weight: 600;
    margin-top: 20px;
}

h2{
    font-size: 70px;
    font-weight: 400;
}

h3{
    font-size: 40px;
    font-weight: 400;
    margin-top: 20px;
}

h4{
    font-size: 18px;
    margin: 20px 0;
}

li, p {
    line-height: 2;
  }

p{
    font-size: 12px;
    margin: 20px 0;
}

span, p{
    color: #222222;
}