body{
    background-color: #62B6CB;
    color:#1B4965;
}

#FAQ{
    margin-top: 50px;
    line-height: 30px;
}

#todo{
    background: #bae9f5;
    margin: 0 0 10px 0;
    padding: 20px 40px;
}

#todo p{
    padding: 5px 20px;
}

ol{
    margin:10px 0 0 15px;
}