body{
    background-color: #62B6CB;
    color:#1B4965;
}

#FAQ{
    margin-top: 50px;
    line-height: 30px;
}

#todo{
    background: #bae9f5;
    margin: 0 0 10px 0;
    padding: 20px 40px;
}

#todo p{
    padding: 5px 20px;
}

nav{
    background: #1b496529;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0;
}

nav a{
    background: #bae9f5;
    color: #1B4965;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

ol{
    margin:10px 0 0 15px;
}

p{
    color:#1B4965;
    font-size: 15px;
}